* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#2e986a, #ffffff);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    margin: 20px auto;
    font-size: 20px;
}

h1 {
    margin: 20px;
}

nav {
    margin: 20px;
}

main {
    width: 900px;
    height: auto;
    margin: 20px auto;
    align-items: center;
}

.intro {
    background-color: grey;
    border-radius: 8px;
    display: block;
    text-align: center;
    width: 500px;
    height: auto;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.intro p {
    text-align: left;
    margin-left: 20px;
}

.intro img {
    margin: 10px;
    width: 200px;
    height: 250px;
    border-radius: 8px;
}

.intro ul {
    text-align: left;
    width: 100px;
    margin: auto;
}

.intro ul li {
    list-style-position: inside;
}

.project {
    width: 220px;
    height: 250px;
    border: 10px;
    margin: 20px;
    text-align: center;
}

.project img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-top: 20px;
}

.project img:hover{
    width: 230px;
    height: 230px;
    border-radius: 8px;
    margin-top: 20px;
}

table {
    margin:auto;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: solid black;
}

th {
    background-color: #349259;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #585858;
    border-radius: 1em;
    text-align: end;
}

form label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    color: black
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

footer {
    width: auto;
    margin: 2px auto;
    text-align: center;
    background-color: #999;
}

footer article {
    display: inline-flex;
    font-size: large;
}
